body {
    background-color: {{BG_COLOR_PLACEHOLDER}};
    font: -apple-system-tall-body;
    -webkit-text-size-adjust: none;
    font-size: {{FONT_SIZE_PLACEHOLDER}}em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

span {
    font: -apple-system-short-caption1;
    -webkit-text-size-adjust: none;
    font-size: 1.0em;
}

p {
    color: {{FONT_COLOR_PLACEHOLDER}};
    font: -apple-system-tall-body;
    -webkit-text-size-adjust: none;
    font-size: {{FONT_SIZE_PLACEHOLDER}}em;
}

a {
    color: {{FONT_COLOR_PLACEHOLDER}};
    font-weight: bold;
    font: -apple-system-tall-body;
    -webkit-text-size-adjust: none;
    font-size: 1.0em;
}

twitter-widget {
    margin: auto;
}

iframe {
    margin: auto;
    display: block;
}
